<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love.sdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.PermissionActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:name=".activity.SingleActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>