<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love.rxjavademo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.Test1Activity" />
        <activity android:name=".rxjava.OkHttpActivity" />
        <activity android:name=".rxjava.RetrofitActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.GlideActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.PackageInfoActivity" />
        <activity android:name=".activity.MsgActivity" />
        <activity android:name=".activity.DirectoryActivity" />
        <activity android:name=".activity.RxPermissionsActivity" />
        <activity android:name=".activity.LottieActivity" />
        <activity android:name=".activity.ExpandableListViewActivity" />
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.ScrollViewActivity" />
        <activity android:name=".activity.RxSharedPreferencesActivity" />
        <activity android:name=".activity.ViewStubActivity" />
        <activity android:name=".activity.SQLiteActivity" />
        <activity android:name=".md.MaterialDesignActivity" />
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.LocalBroadcastActivity" />
        <activity
            android:name=".activity.RecyclerViewAdapterActivity"
            android:label="@string/title_activity_recycler_view_adpter"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>